.bg{
    background-image: url('https://cdn.cloudflare.steamstatic.com/store/library_update/social_media_image.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
body {
    background-image:url('https://assets2.rockpapershotgun.com/steam-library-small-mode-1.jpg/BROK/thumbnail/1600x900/format/jpg/quality/80/steam-library-small-mode-1.jpg');
    margin-top: 50px;
    margin-left: 100px;
    }
  
  p {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: rgb(137, 168, 253);
    }
  
  h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: rgb(137, 168, 253);
    }
  h3 {
      font-family: Verdana, Geneva, sans-serif;
      font-size: 1em;
      color: rgb(38, 255, 49);
    }
  label {
      color: rgb(118, 30, 219);
      padding: 8px;
    }
  